<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.emgress"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15"/>
	<uses-permission android:name="android.permission.CAMERA" />
    <application android:label="@string/app_name"
				 android:icon="@drawable/ic_launcher"
				 android:theme="@android:style/Theme.Holo.Light">
        <activity android:name="MainActivity_"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BackgroundExampleActivity_"/>
        <activity android:name=".ViewPagerExample_"/>
		<activity android:name=".ViewPagerTitleExample_"/>
        <activity android:name=".CompassActivity"/>
		<activity android:name=".AccelerometerActivity"/>
		<activity android:name=".TweenExample_"/>
		<activity android:name=".CameraCallActivity_"/>
		<activity android:name=".RegularViewUpdateExample_"/>
		<activity android:name=".MyCameraActivity"
				android:screenOrientation="landscape" />
	</application>
</manifest>
